In [5]:
import pandas as pd
# validate installation of DataStax Python Driver
import cassandra
print(cassandra.__version__)

3.21.0

In [6]:
from cassandra.cluster import Cluster
try:
    cluster = Cluster(['cassandra-app01.stage.3cinteractive.com'], protocol_version=3)
    session = cluster.connect()
    print("Connection Established !!")
    print(session.execute("SELECT release_version FROM system.local").one())
except Exception as e:
    print(f"Connection Failed !! Error : {e}")

Connection Established !!
Row(release_version='2.1.2')

In [13]:
def pandas_factory(colnames, rows):
    return pd.DataFrame(rows, columns=colnames)

session.row_factory = pandas_factory
session.default_fetch_size = None

query = "select transactiondetailid, type from dcb.transactiondetail_test"
rslt = session.execute(query, timeout=None)
df = rslt._current_rows

In [20]:
df_small = df.head()

In [46]:
# DELETE FROM dcb.transactiondetail_test WHERE transactiondetailid=? AND "type"='';
for i, row in df_small.iterrows():
    print('DELETE FROM dcb.transactiondetail_test WHERE transactiondetailid='+str(row[0])+' AND "type"=\''+row[1]+'\';\n')

DELETE FROM dcb.transactiondetail_test WHERE transactiondetailid=d92aaadb-b6b7-11e4-99db-39da76cdca3a AND "type"='CREATE';

DELETE FROM dcb.transactiondetail_test WHERE transactiondetailid=ae8edb6f-8d99-11e7-b092-6d68fcf380be AND "type"='CREATE';

DELETE FROM dcb.transactiondetail_test WHERE transactiondetailid=e44640e9-932d-11e7-b092-6d68fcf380be AND "type"='CREATE';

DELETE FROM dcb.transactiondetail_test WHERE transactiondetailid=c9039f80-4b51-11e5-a2bc-e3aa68bade5e AND "type"='CREATE';

DELETE FROM dcb.transactiondetail_test WHERE transactiondetailid=7a71742b-e9dd-11e8-a124-a37e4ef4dd35 AND "type"='CREATE';

In [23]:
df_small

                    transactiondetailid    type
0  d92aaadb-b6b7-11e4-99db-39da76cdca3a  CREATE
1  ae8edb6f-8d99-11e7-b092-6d68fcf380be  CREATE
2  e44640e9-932d-11e7-b092-6d68fcf380be  CREATE
3  c9039f80-4b51-11e5-a2bc-e3aa68bade5e  CREATE
4  7a71742b-e9dd-11e8-a124-a37e4ef4dd35  CREATE

In [47]:
f = open("demofile2.txt", "a")
for i, row in df_small.iterrows():
    f.write('DELETE FROM dcb.transactiondetail_test WHERE transactiondetailid='+str(row[0])+' AND "type"=\''+row[1]+'\';\n')
f.close()

In [49]:
# generating the larger file
f = open("dcb_deletes_stage.cql", "a")
for i, row in df.iterrows():
    f.write('DELETE FROM dcb.transactiondetail_test WHERE transactiondetailid='+str(row[0])+' AND "type"=\''+row[1]+'\';\n')
f.close()

                       transactiondetailid    type
0     d92aaadb-b6b7-11e4-99db-39da76cdca3a  CREATE
1     ae8edb6f-8d99-11e7-b092-6d68fcf380be  CREATE
2     e44640e9-932d-11e7-b092-6d68fcf380be  CREATE
3     c9039f80-4b51-11e5-a2bc-e3aa68bade5e  CREATE
4     7a71742b-e9dd-11e8-a124-a37e4ef4dd35  CREATE
...                                    ...     ...
6412  a244277e-366d-11e7-a3c9-d72a94b8394a  CREATE
6413  9f96298b-9722-11e7-b092-6d68fcf380be  CREATE
6414  d84c581c-e138-11e8-a124-a37e4ef4dd35  CREATE
6415  63deedad-a6be-11e6-948f-f7e347902939  CREATE
6416  83375978-95b2-11e8-8f7f-f57143de12c7  CREATE

[6417 rows x 2 columns]